body{
    margin: 0px;
}
.left_block{
    width: 1200px;
    height: 800px;
    float: left;
}
.canvas{
    height: 800px;
    width: 1200px;
}
.middle_block{
    margin: 20px;
    max-width: 400px;
    float: left;
}

.block_head{
    margin-bottom: 10px;
    text-align: center;
    height:20px;
    font-size:20px;
    max-width: 400px;
}
.red{
    color: red;
}
button{
    margin: 2px;
    width: 83px;
    min-height: 25px;
    border-radius:5px;
    background: #00aaff;
    color: white;
    border: none;
}
input{
    width: 389px;
}

