.left_block{
    margin: 20px;
    width: 370px;
    height: 1100px;
    float: left;

}

.middle_block{
    margin: 20px;
    width: 1800px;
    height: 1080px;
    float: left;

}

.canvas{
    height: 1050px;
    width: 1800px;
}

button{
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius:5px;
    background: #00aaff;
    color: white;
    border: none;
}
input{
    width: 300px;
}
/*button :focus{
    outline: none;
    box-shadow: 0 0 8px #33bbff;
}*/